{% extends "base.html" %}

{% block content %}

  {% for fieldname, errors in form.errors.items() %}
    {% for error in errors %}
<aside>
<div class="card warn">
 <p>{{ form[fieldname].label.text or fieldname }}</p>
 <p>{{ error }}</p>
</div>
</aside>
    {% endfor %}
  {% endfor %}

<h1>Вход в hell-0</h1>
<p>Это страница входа. Главная страница <a href="{{ url_for('main.index') }}">здесь</a>. Если у вас нет аккаунта, зарегистрироваться можно
<a href="{{ url_for('auth.register') }}">здесь</a>.</p>
<form method="POST">
      {{ form.hidden_tag() }}
      <fieldset>
          <legend>Логин</legend>
            {{ form.username.label }}
            {{ form.username(size=32) }}
            {{ form.password.label }}
            {{ form.password(size=32) }}
      </fieldset>

      <fieldset id="forms__action">
        <legend>Отправить</legend>
          {{ form.submit() }}
      </fieldset>
    </form>
{% endblock %}