{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
{% endblock %}


{% block content %}
<div class="cards-vertical">
    <div class="login-card">
        <h1>Доступные каналы:</h1>
        {% if categories %}
        {% for i in categories %}
        <div>
            <a href="{{url_for('news.category', category=i[1])}}">{{i[0]}}</a>
            {% if i[2] > 0 %}
            Непрочитано: {{i[2]}}
            {% endif %}
            {% endfor %}
            {% else %}
            Нет доступных каналов.
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}